.main {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.code {
  text-align: left;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.tabsContainer {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
